<app-header title="Cart" subtitle="All the selected products in your cart" button=""></app-header>

<br>
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-danger float-left" (click) = "clearCart()"><span class="fa fa-times-circle-o" style="color: white;"></span> Clear Cart</button>
      <button class="btn btn-success float-right"><span class="fa fa-shopping-cart" style="color: white;"></span> Checkout</button>
    </div>
  </div>
  <br>
  <table class="table" >
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Quantity</th>
          <th>Unit price</th>
          <th>Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let cart of carts">
          <td colspan="2">{{cart.name}}</td>
          <td>${{cart.unit_price}}</td>
          <td>{{cart.quantity}}</td>
          <td>${{cart.price}}</td>
          <td>
            <button class="btn btn-danger" style="height: fit-content;" (click)="removeItem(cart.product_id)"><span class="fa fa-trash" style="color: white;"></span> Remove</button>
          </td>
        </tr>
        <tr>
          <td colspan="2"></td>
          <td></td>
          <td>Grand total: </td>
          <td>${{total}}</td>
        </tr>
      </tbody>
    </table>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <button class="btn btn-success float-left" (click) = "back()"><span class="fa fa-arrow-circle-left" style="color: white;"></span> Continue shopping</button>
    </div>
  </div>  
</div>